.loading-indicator {
    display: block;
    width: 70px;
    margin: 0 auto;
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    background-color: #FFF;
    z-index: 100;
}

.loading-indicator img {
    width: 70px;
    background-color: #FFF;
}

.ui-view-placeholder {
    margin-top: 60px;
}

.mb-4 {
    margin-bottom: 40px;
}
