<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shopping List Check Off</title>

    <link rel="stylesheet" href="styles/bootstrap.min.css">

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

        .emptyMessage {
            font-weight: bold;
            font-size: 1.2em;
            color: red;
        }

        li {
            margin-bottom: 7px;
            font-size: 1.2em;
        }

        li > button {
            margin-left: 6px;
        }

        button > span {
            color: green;
        }
    </style>
</head>

<body ng-app="ShoppingListCheckOff" ng-strict-di>
    <div class="container">
        <h1>Shopping List Check Off</h1>

        <div class="row">
            <!-- To Buy List -->
            <div class="col-md-6" ng-controller="ToBuyController as toBuyCtrl">
                <h2>To Buy:</h2>
                <ul ng-cloak>
                    <li ng-repeat="item in toBuyCtrl.items track by $index">
                        Buy {{ item.quantity }} {{ item.name }}
                        <button class="btn btn-default" ng-click="toBuyCtrl.buy($index)">
                            <span class="glyphicon glyphicon-ok"></span> Bought
                        </button>
                    </li>
                </ul>
                <div class="emptyMessage" ng-if="!toBuyCtrl.items.length">Everything is bought!</div>
            </div>

            <!-- Already Bought List -->
            <div class="col-md-6" ng-controller="AlreadyBoughtController as alreadyBoughtCtrl">
                <h2>Already Bought:</h2>
                <ul ng-cloak>
                    <li ng-repeat="item in alreadyBoughtCtrl.items track by $index">Bought {{ item.quantity }} {{ item.name }}</li>
                </ul>
                <div class="emptyMessage" ng-if="!alreadyBoughtCtrl.items.length">Nothing bought yet.</div>
            </div>
        </div>
    </div>

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
</body>

</html>
